<%- include('header') %>
<div class="ui grid">
  <div class="six wide column"></div>
  <div class="six wide column">
  	<h1>hello world</h1>
  	<h2>这里是主页面</h2>
	  <h3>node+mongodb+jquery</h3>
	  <h3>简单实现了登录注册验证的功能</h3>
  </div>  
</div>
<%- include('footer') %>